* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ccffff;
}

h2 {
  padding: 20px;
  margin: 0;
}

.pokemon-list {
  padding: 20px;
}

.pokemon-list li {
  padding: 10px 0;
  list-style-type: none;
}

.button-style {
  padding: 10px;
  background-color: #1a75ff;
  color: white;
  font-weight: bold;
}
