* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ccffff;
}

h2 {
  padding: 20px;
  margin: 0;
}

.pokemon-list {
  padding: 20px;
}

.pokemon-list li {
  padding: 10px 0;
  list-style-type: none;
}

.button-style {
  padding: 10px;
  background-color: #1a75ff;
  color: white;
  font-weight: bold;
}
.message-show{
  display:block;
}
.message-hide{
  display:none;
}

/* modal stylings */
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}
.is-visible{
  display: block;
}
.modal-close {
  float: right;
  -webkit-appearance: none;
  /* border: 0; */
  background: none;
  color: #777;
  /* text-decoration: underline; */
}
.remove-modal{
  display: none;
}
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.pokemon-image{
  width:30%;
}
